.qodo
venv
.env
__pycache__/
__pycache__
*.pyc
*.pyo
*.pyd
*.egg-info
qodo.egg-info/
.tox/
.coverage
.cache
.pytest_cache/
.mypy_cache/
.pytest_cache/
.hypothesis
*.coverage
migrations/
db.sqlite3
.sqlite
.db